www.{$DOMAIN_NAME} {
    redir https://example.com
}

{$DOMAIN_NAME} {
    proxy / client:3000 {
      websocket
      transparent
  }
  proxy /api api:4000 {
      without /api
      websocket
      transparent
  }
  log stdout
  errors stdout
  gzip
}

